@{
    Layout = null;
}
<div class="row">
    <div class="span3">
        <h4>
            @ODPI.Resources.Views.Tpl.DeployResource.Progress</h4>
        <ol>
            <li><del>@ODPI.Resources.Views.Tpl.DeployResource.SelectComponentsToInstall</del></li>
            <li><del>@ODPI.Resources.Views.Tpl.DeployResource.ConfigureComponents</del></li>
            <li><del>@ODPI.Resources.Views.Tpl.DeployResource.FinalizeInstallProcedure</del></li>
            <li><strong>@ODPI.Resources.Views.Tpl.DeployResource.Install</strong></li>
        </ol>
    </div>
    <div class="span9">
        <h2>
            @ODPI.Resources.Views.Tpl.DeployResource.Deploy</h2>
            <div id="deploy-items"></div>
    </div>
</div>
