@{
    Layout = null;
}
<div class="hero-unit">
    <h2>
        @ODPI.Resources.Views.Tpl.TasklistResource.OpenDataPlatformInstalled</h2>
    <p>
        @ODPI.Resources.Views.Tpl.TasklistResource.TheOpenDataPlatformInstallerODPI
    </p>
    <h3>
        @ODPI.Resources.Views.Tpl.TasklistResource.BeforeYouStart<small></small></h3>
    <h5>
        @Html.Raw(ODPI.Resources.Views.Tpl.TasklistResource.BeforeYouStartTheProcess)
    </h5>
    <div id="beforeStart">
        <ol>
            <li>
                <p>
                    <strong>@ODPI.Resources.Views.Tpl.TasklistResource.WindowsAzureAccount</strong><h5>
                        @Html.Raw(ODPI.Resources.Views.Tpl.TasklistResource.IfYouDontAlreadyHaveAWindowsAzure)</h5>
                </p>
            </li>
            <li>
                <p>
                    <strong>@ODPI.Resources.Views.Tpl.TasklistResource.HostedService</strong></p>
                <h5>
                    @ODPI.Resources.Views.Tpl.TasklistResource.OnceYourAccountIsCreated</h5>
                <h5>
                @Html.Raw(ODPI.Resources.Views.Tpl.TasklistResource.YouMustAlsoCreate)
                </h5>
            </li>
            <li>
                <p>
                    <strong>@ODPI.Resources.Views.Tpl.TasklistResource.StorageAccount</strong><h5>
                    @Html.Raw(ODPI.Resources.Views.Tpl.TasklistResource.TheOpenDataPlatformInstallerRequires)</h5> </li>
            <li>
                <p>
                    <strong>@ODPI.Resources.Views.Tpl.TasklistResource.ManagementCertificates</strong><h5>
                        @ODPI.Resources.Views.Tpl.TasklistResource.ToAllowOpenDataPlatformInstaller</h5>
                </p>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="span3">
        <h4>
            @ODPI.Resources.Views.Tpl.TasklistResource.Progress</h4>
        <ol>
            <li><strong>@ODPI.Resources.Views.Tpl.TasklistResource.SelectComponentsToInstall</strong></li>
            <li>@ODPI.Resources.Views.Tpl.TasklistResource.ConfigureComponents</li>
            <li>@ODPI.Resources.Views.Tpl.TasklistResource.FinalizeInstallProcedure</li>
            <li>@ODPI.Resources.Views.Tpl.TasklistResource.Install</li>
        </ol>
    </div>
    <div class="span9">
        <h2>
            @ODPI.Resources.Views.Tpl.TasklistResource.SelectComponentsToInstall:</h2>
        <div id="wrapper">
            <div id="app-list">
            </div>
        </div>
        <div class="actions drop_400">
            <a href="#" class="btn primary large" disabled id="btnContinue">@ODPI.Resources.Views.Tpl.TasklistResource.Continue &raquo;</a>
        </div>
    </div>
</div>
<div class="modal hide fade" id="CreateCloudService" style="display: none;">
    @Html.Partial("../Help/CreateCloudService")
</div>
<div class="modal hide fade" id="createTableStorage">
    @Html.Partial("../Help/CreateTableStorage")
</div>
