<div class="modal-header">
    <button class="close" data-dismiss="modal">
        ×</button>
    <h3>
        @ODI.Resources.Views.Help.CreateHostedServiceResource.HowToCreateAWindowsAzureHostedService</h3>
</div>
<div class="modal-body">
    <p>
        @Html.Raw(ODI.Resources.Views.Help.CreateHostedServiceResource.ForOpenDataPlatformInstallerToFunction)
    </p>
    <p>
        @Html.Raw(ODI.Resources.Views.Help.CreateHostedServiceResource.YouMustCreateOneHostedService)
    </p>
    <p>
        @Html.Raw(ODI.Resources.Views.Help.CreateHostedServiceResource.TheFollowingStepsAllowYou)</p>
    <ol>
        <li>
            <p>
            @Html.Raw(ODI.Resources.Views.Help.CreateHostedServiceResource.GoToWindowsAzure)</p>
        </li>
        <li>
            <p>
                @ODI.Resources.Views.Help.CreateHostedServiceResource.ClickOnHostedServices
                <br>
                <img src="/Content/img/help/image001.jpg"></p>
        </li>
        <li>
            <p>
                @ODI.Resources.Views.Help.CreateHostedServiceResource.ClickOnYourSubscription<br/>
                <img src="/Content/img/help/image002.jpg"></p>
        </li>
        <li>
            <p>
                @Html.Raw(ODI.Resources.Views.Help.CreateHostedServiceResource.ClickOnNewHostedService)
                <br/>
                <img src="/Content/img/help/image003.png"></p>
        </li>
        <li>
            <p>
            @Html.Raw(ODI.Resources.Views.Help.CreateHostedServiceResource.InTheCreateANewHostedService)</p>
        </li>
        <li>
            <p>
                @Html.Raw(ODI.Resources.Views.Help.CreateHostedServiceResource.ClickOkAndAfter)</p>
        </li>
    </ol>
</div>
