<div class="modal-header">
    <button class="close" data-dismiss="modal">
        ×</button>
    <h3>
         @ODI.Resources.Views.Help.GetDbHostNameResource.HowToGetSqlAzureDatabaseHostName</h3>
</div>
<div class="modal-body">
    <ol>
        <li>
            <p>
                @Html.Raw(@ODI.Resources.Views.Help.GetDbHostNameResource.GoToWindowsAzure)</p>
        </li>
        <li>
            <p>
                @Html.Raw(@ODI.Resources.Views.Help.GetDbHostNameResource.ClickOnDatabase)
                <br>
                <img src="/Content/img/help/image018.png"></p>
        </li>
        <li>
            <p>
                @Html.Raw(@ODI.Resources.Views.Help.GetDbHostNameResource.ClickOnTheSubscriptionsFoler)</p>
        </li>
        <li>
            <p>
                @Html.Raw(@ODI.Resources.Views.Help.GetDbHostNameResource.ClickOnTheSubscriptionYourDatabase)
                <img src="/Content/img/help/image024.png">
            </p>
        </li>
        <li>
            <p>
                @ODI.Resources.Views.Help.GetDbHostNameResource.SelectYourServer<p>
        </li>
        <li>
            <p>
                @Html.Raw(@ODI.Resources.Views.Help.GetDbHostNameResource.InThePropertiesWindow)
                <p>
        </li>
        <li>
            <p>
                @ODI.Resources.Views.Help.GetDbHostNameResource.HighlightThisValue
                <p>
        </li>
        <li>
            <p>
                @Html.Raw(@ODI.Resources.Views.Help.GetDbHostNameResource.PasteThisValueBackIntoTheDatabase)
                <p>
        </li>
    </ol>
</div>
