<div class="modal-header">
    <button class="close" data-dismiss="modal">
        ×</button>
    <h3>
        @ODI.Resources.Views.Help.GetTableStorageKeyResource.HowToGetAzureTableStorageAccessKey</h3>
</div>
<div class="modal-body">
    <ol>
        <li>
            <p>
                @Html.Raw(ODI.Resources.Views.Help.GetTableStorageKeyResource.GoToWindowsAzure)</p>
        </li>
        <li>
            <p>
                 @Html.Raw(ODI.Resources.Views.Help.GetTableStorageKeyResource.ClickOnStorageAccounts)
                </br>
                <img src="/Content/img/help/image011.png"></p>
        </li>
        <li>
            <p>
                @ODI.Resources.Views.Help.GetTableStorageKeyResource.ClickOnTheNewlyCreatedStorage</p>
        </li>
        <li>
            <p>
                @Html.Raw(ODI.Resources.Views.Help.GetTableStorageKeyResource.InThePropertiesWindowsFind)
                <br>
                <img  src="/Content/img/help/image015.png"></p>
        </li>
        <li>
            <p>
                @Html.Raw(ODI.Resources.Views.Help.GetTableStorageKeyResource.InTheViewStorageAccessKeys)</br>
                <img src="/Content/img/help/image016.jpg"></p>
        </li>
        <li>
            <p>
                @Html.Raw(ODI.Resources.Views.Help.GetTableStorageKeyResource.ClickClose)</p>
        </li>
        <li>
            <p>
                @Html.Raw(ODI.Resources.Views.Help.GetTableStorageKeyResource.PasteThisValueBack)</br>
                <img src="/Content/img/help/image013.png"></p>
        </li>
    </ol>
</div>
