@{
    Layout = null;
}
<div class="alert">
    <h4 class='alert-heading'><%= Name %></h4>
    <form class="form-horizontal">
        <div id="service-selector" class="control-group">
            <label class="control-label">@ODI.Resources.Views.Tpl.DeployItemResource.DeployToService</label>
            <div class="controls">
                <select class="span4" id="service-select">
                    
                </select>
            </div>
        </div>
        <a href="#" class="btn btn-large btn-primary" id="btndeploy">@ODI.Resources.Views.Tpl.DeployItemResource.Deploy</a>
    </form>
    <div id="status-div" class="hide">
        <p><strong>@ODI.Resources.Views.Tpl.DeployItemResource.CurrentStep</strong><span id="current-step"></span></p>
        <div class="progress progress-info progress-striped active">
            <div class="bar" style="width: 100%;"></div>
        </div>
        <a data-toggle="collapse" data-target="#console<%= Id %>" >@ODI.Resources.Views.Tpl.DeployItemResource.Messages</a>
        <div id="console<%= Id %>" class="collapse">
        </div>
    </div>
    <div id="success" class="hide">
        <h6>@ODI.Resources.Views.Tpl.DeployItemResource.ApplicationSuccessfullyDeployed</h6>
        <p><strong>@ODI.Resources.Views.Tpl.DeployItemResource.YouCanSeeYourApplication<span id="url"></span> </strong></p>
    </div>
</div>
