@{
    Layout = null;
}

<div class="page-header">
    <h4>@ODI.Resources.Views.ConfTpl.CitizenPortalOpenDataResource.ApplicationSettings</h4>
     <p>
        @ODI.Resources.Views.ConfTpl.CitizenPortalOpenDataResource.ApplicationSettingsWillAllowPortalOpenData
    </p>
</div>
<div class="control-group">
    <label class="control-label">
        @ODI.Resources.Views.ConfTpl.CitizenPortalOpenDataResource.BaseDataServiceUrl</label>
    <div class="controls">
        <input class="input-xlarge" type="text" id="basedataserviceurl" name="basedataserviceurl" placeholder="http://xxxx.cloudapp.net:8080/v1/" />
    </div>
</div>
<div class="control-group">
    <label class="control-label">
        @ODI.Resources.Views.ConfTpl.CitizenPortalOpenDataResource.InstitutionName</label>
    <div class="controls">
        <input class="input-xlarge" type="text" id="institutionname" name="institutionname" />
    </div>
</div>
<div class="control-group">
    <label class="control-label">
        @ODI.Resources.Views.ConfTpl.CitizenPortalOpenDataResource.LogoUri</label>
    <div class="controls">
        <input class="input-xlarge" type="text" id="logouri" name="logouri" />
    </div>
</div>
<div class="control-group">
    <label class="control-label">
        @ODI.Resources.Views.ConfTpl.CitizenPortalOpenDataResource.WelcomeText</label>
    <div class="controls">
        <input class="input-xlarge" type="text" id="welcometext" name="welcometext" />
    </div>
</div>
<div class="control-group">
    <label class="control-label">
        @ODI.Resources.Views.ConfTpl.CitizenPortalOpenDataResource.InstitutionDecription</label>
    <div class="controls">
        <input class="input-xlarge" type="text" id="institutiondescription" name="institutiondescription" />
    </div>
</div>
<div class="control-group">
    <label class="control-label">
        @ODI.Resources.Views.ConfTpl.CitizenPortalOpenDataResource.InstitutionImage</label>
    <div class="controls">
        <input class="input-xlarge" type="text" id="institutionimage" name="institutionimage" />
    </div>
</div>
<div class="control-group">
    <label class="control-label">
        @ODI.Resources.Views.ConfTpl.CitizenPortalOpenDataResource.LicenseUri</label>
    <div class="controls">
        <input class="input-xlarge" type="text" id="licenseuri" name="licenseuri" />
    </div>
</div>
