@{
    Layout = null;
}
<div class="page-header">
    <h4>
        @ODI.Resources.Views.ConfTpl.OpenIntelResource.ApplicationSettings</h4>
        <p>
        @ODI.Resources.Views.ConfTpl.OpenIntelResource.ApplicationSettingsWillAllowDataLab
    </p>
</div>
<div class="control-group">
    <label class="control-label">
        @ODI.Resources.Views.ConfTpl.OpenIntelResource.BingServiceKey</label>
    <div class="controls">
        <input class="input-xlarge" type="text" id="bingservicekey" name="bingservicekey" placeholder="@ODI.Resources.Views.ConfTpl.OpenIntelResource.KeyProvidedByBingAPI" />
    </div>
</div>


<div class="page-header">
    <h4>
        @ODI.Resources.Views.ConfTpl.OpenIntelResource.SQLAzureInfo</h4>
    <p>
        @Html.Raw(ODI.Resources.Views.ConfTpl.OpenIntelResource.IfYouDoNotHaveASqlAzure)</p>
    <p>
        @ODI.Resources.Views.ConfTpl.OpenIntelResource.OnceTheDataBaseIsCreated</p>
</div>
<div class="control-group">
    <label class="control-label">
        <a href="#" data-toggle="modal" data-target="#GetDbHostName" rel="tooltip" data-original-title="@ODI.Resources.Views.ConfTpl.OpenIntelResource.ClickToSeeHow">
            @ODI.Resources.Views.ConfTpl.OpenIntelResource.DatabaseHostname</a></label>
    <div class="controls">
        <input class="input-xlarge" type="text" id="dbhost" name="dbhost" placeholder="@ODI.Resources.Views.ConfTpl.OpenIntelResource.YourServerDatabase" />
    </div>
</div>
<div class="control-group">
    <label class="control-label">
        <a href="#" data-toggle="modal" data-target="#GetDbName" rel="tooltip" data-original-title="@ODI.Resources.Views.ConfTpl.OpenIntelResource.ClickToSeeHow">
            @ODI.Resources.Views.ConfTpl.OpenIntelResource.DatabaseName</a></label>
    <div class="controls">
        <input class="input-xlarge" type="text" id="dbname" name="dbname" placeholder="@ODI.Resources.Views.ConfTpl.OpenIntelResource.DatabaseNamePlaceholder" />
    </div>
</div>
<div class="control-group">
    <label class="control-label">
        <a href="#" data-toggle="modal" data-target="#GetDbUsername" rel="tooltip" data-original-title="@ODI.Resources.Views.ConfTpl.OpenIntelResource.ClickToSeeHow">
            @ODI.Resources.Views.ConfTpl.OpenIntelResource.Username</a></label>
    <div class="controls">
        <input class="input-xlarge" type="text" id="dbusername" name="dbusername" placeholder="@ODI.Resources.Views.ConfTpl.OpenIntelResource.UsernameAtYourServer" />
    </div>
</div>
<div class="control-group">
    <label class="control-label">
        @ODI.Resources.Views.ConfTpl.OpenIntelResource.Password</label>
    <div class="controls">
        <input class="input-xlarge" type="password" id="dbpassword" name="dbpassword" placeholder="@ODI.Resources.Views.ConfTpl.OpenIntelResource.PasswordYouCreated" />
    </div>
</div>
<div class="modal hide fade" id="GetDbHostName">
    @Html.Partial("../Help/GetDbHostName")
</div>
<div class="modal hide fade" id="GetDbName">
    @Html.Partial("../Help/GetDbName")
</div>
<div class="modal hide fade" id="GetDbUsername">
    @Html.Partial("../Help/GetDbUsername")
</div>
<div class="modal hide fade" id="CreateSqlAzureDb">
    @Html.Partial("../Help/CreateSqlAzureDb")
</div>


<div class="page-header">
    <h4>
        @ODI.Resources.Views.ConfTpl.OpenIntelResource.BlobStorageInfo</h4>
    <p>
        @Html.Raw(ODI.Resources.Views.ConfTpl.OpenIntelResource.TheUseOfBlobStorageIsRequired)</p>
    <p>
        @ODI.Resources.Views.ConfTpl.OpenIntelResource.OnceComplete</p>
</div>
<div class="control-group">
    <label  class="control-label">
        <a href="#" data-toggle="modal" data-target="#tableStorageName" rel="tooltip" data-original-title="@ODI.Resources.Views.ConfTpl.OpenIntelResource.ClickToSeeHow">
            @ODI.Resources.Views.ConfTpl.OpenIntelResource.StorageAccountName</a></label>
    <div class="controls">
        <input class="input-xlarge" type="text" id="storagename" name="storagename" />
    </div>
</div>
<div class="control-group">
    <label  class="control-label">
        <a href="#" data-toggle="modal" data-target="#tableStorageKey" rel="tooltip" data-original-title="@ODI.Resources.Views.ConfTpl.OpenIntelResource.ClickToSeeHow">
            @ODI.Resources.Views.ConfTpl.OpenIntelResource.PrimaryAccessKey</a></label>
    <div class="controls">
        <input class="input-xlarge" type="text" id="storagekey" name="storagekey" />
    </div>
</div>
<div class="modal hide fade" id="createTableStorage">
    @Html.Partial("../Help/CreateTableStorage")
</div>
<div class="modal hide fade" id="tableStorageName">
    @Html.Partial("../Help/GetTableStorageName")
</div>
<div class="modal hide fade" id="tableStorageKey">
    @Html.Partial("../Help/GetTableStorageKey")
</div>
