@{
    Layout = null;
}
<div class="page-header">
    <h4>
        @ODI.Resources.Views.ConfTpl.OpenTurfResource.SQLAzureInfo</h4>
    <p>
        @Html.Raw(ODI.Resources.Views.ConfTpl.OpenTurfResource.IfYouDoNotHaveAlready)</p>
    <p>
        @ODI.Resources.Views.ConfTpl.OpenTurfResource.OnceDatabaseIsCreated</p>
</div>
<div class="control-group">
    <label class="control-label">
        <a href="#" data-toggle="modal" data-target="#GetDbHostName" rel="tooltip" data-original-title="@ODI.Resources.Views.ConfTpl.OpenTurfResource.ClickToSeeHow">
            @ODI.Resources.Views.ConfTpl.OpenTurfResource.DatabaseHostname</a></label>
    <div class="controls">
        <input class="input-xlarge" type="text" id="dbhost" name="dbhost" placeholder="yourserver.database.windows.com" />
    </div>
</div>
<div class="control-group">
    <label class="control-label">
        <a href="#" data-toggle="modal" data-target="#GetDbName" rel="tooltip" data-original-title="@ODI.Resources.Views.ConfTpl.OpenTurfResource.ClickToSeeHow">
            @ODI.Resources.Views.ConfTpl.OpenTurfResource.DatabaseName</a></label>
    <div class="controls">
        <input class="input-xlarge" type="text" id="dbname" name="dbname" placeholder="database-name" />
    </div>
</div>
<div class="control-group">
    <label class="control-label">
        <a href="#" data-toggle="modal" data-target="#GetDbUsername" rel="tooltip" data-original-title="@ODI.Resources.Views.ConfTpl.OpenTurfResource.ClickToSeeHow">
            @ODI.Resources.Views.ConfTpl.OpenTurfResource.Username</a></label>
    <div class="controls">
        <input class="input-xlarge" type="text" id="dbusername" name="dbusername" placeholder="username@yourserver" />
    </div>
</div>
<div class="control-group">
    <label class="control-label">
        @ODI.Resources.Views.ConfTpl.OpenTurfResource.Password</label>
    <div class="controls">
        <input class="input-xlarge" type="password" id="dbpassword" name="dbpassword" placeholder="@ODI.Resources.Views.ConfTpl.OpenTurfResource.PasswordYouCreated" />
    </div>
</div>
<div class="modal hide fade" id="GetDbHostName">
    @Html.Partial("../Help/GetDbHostName")
</div>
<div class="modal hide fade" id="GetDbName">
    @Html.Partial("../Help/GetDbName")
</div>
<div class="modal hide fade" id="GetDbUsername">
    @Html.Partial("../Help/GetDbUsername")
</div>
<div class="modal hide fade" id="CreateSqlAzureDb">
    @Html.Partial("../Help/CreateSqlAzureDb")
</div>


<div class="page-header">
    <h4>
        @ODI.Resources.Views.ConfTpl.OpenTurfResource.ApplicationSettings</h4>
    <p>
        @ODI.Resources.Views.ConfTpl.OpenTurfResource.ApplicationSettingsWillAllow
    </p>
</div>
<div class="control-group">
    <label class="control-label">
        @ODI.Resources.Views.ConfTpl.OpenTurfResource.ApplicationName</label>
    <div class="controls">
        <input class="input-xlarge" type="text" id="appname" name="appname" placeholder="@ODI.Resources.Views.ConfTpl.OpenTurfResource.NameOfTheApplication" />
    </div>
</div>
<div class="control-group">
    <label class="control-label">
        @ODI.Resources.Views.ConfTpl.OpenTurfResource.BitlyLogin</label>
    <div class="controls">
        <input class="input-xlarge" type="text" id="bitlylogin" name="bitlylogin" placeholder="@ODI.Resources.Views.ConfTpl.OpenTurfResource.ALoginUsernameToUse" />
    </div>
</div>
<div class="control-group">
    <label class="control-label">
        @ODI.Resources.Views.ConfTpl.OpenTurfResource.BitlyAPIKey</label>
    <div class="controls">
        <input class="input-xlarge" type="text" id="bitlykey" name="bitlykey" placeholder="@ODI.Resources.Views.ConfTpl.OpenTurfResource.AnAPIKeyToUse" />
    </div>
</div>
<div class="page-header">
    <h4>
        @ODI.Resources.Views.ConfTpl.OpenTurfResource.TwitterSettings</h4>
    <p>
        @Html.Raw(ODI.Resources.Views.ConfTpl.OpenTurfResource.OpenTurfHasTwitterIntegration)</p>
</div>
<div class="control-group">
    <label class="control-label">
        @ODI.Resources.Views.ConfTpl.OpenTurfResource.TwitterUsernameToUse</label>
    <div class="controls">
        <input class="input-xlarge" type="text" id="admintwitteruser" name="admintwitteruser"
            placeholder="@ODI.Resources.Views.ConfTpl.OpenTurfResource.UsernameThatWillBeUsed" />
    </div>
</div>
<div class="control-group">
    <label class="control-label">
        @ODI.Resources.Views.ConfTpl.OpenTurfResource.ConsumerKey</label>
    <div class="controls">
        <input class="input-xlarge" type="text" id="twitterconsumerkey" name="twitterconsumerkey"
            placeholder="@ODI.Resources.Views.ConfTpl.OpenTurfResource.ConsumerKeyProvidedByTwitter" />
    </div>
</div>
<div class="control-group">
    <label class="control-label">
        @ODI.Resources.Views.ConfTpl.OpenTurfResource.ConsumerSecret</label>
    <div class="controls">
        <input class="input-xlarge" type="text" id="twitterconsumersecret" name="twitterconsumersecret"
            placeholder="@ODI.Resources.Views.ConfTpl.OpenTurfResource.ConsumerSecretProvidedByTwitter" />
    </div>
</div>
<div class="control-group">
    <label class="control-label">
        @ODI.Resources.Views.ConfTpl.OpenTurfResource.CallbackUrl</label>
    <div class="controls">
        <input class="input-xlarge" type="text" id="twittercallbackurl" name="twittercallbackurl"
            placeholder="@ODI.Resources.Views.ConfTpl.OpenTurfResource.SameCallBackURLSetup" />
    </div>
</div>
<div class="control-group">
    <label class="control-label">
        @ODI.Resources.Views.ConfTpl.OpenTurfResource.AppUrl</label>
    <div class="controls">
        <input class="input-xlarge" type="text" id="twitterappurl" name="twitterappurl" />
    </div>
</div>
