@{
    Layout = null;
}
<div class="page-header">
    <h4>
        @ODPI.Resources.Views.ConfTpl.OpenTurfResource.SQLAzureInfo</h4>
    <p>
        @Html.Raw(ODPI.Resources.Views.ConfTpl.OpenTurfResource.IfYouDoNotHaveAlready)</p>
    <p>
        @ODPI.Resources.Views.ConfTpl.OpenTurfResource.OnceDatabaseIsCreated</p>
</div>
<div class="control-group">
    <label class="control-label">
        <a href="#" data-toggle="modal" data-target="#GetDbHostName" rel="tooltip" data-original-title="@ODPI.Resources.Views.ConfTpl.OpenTurfResource.ClickToSeeHow">
            @ODPI.Resources.Views.ConfTpl.OpenTurfResource.DatabaseHostname</a></label>
    <div class="controls">
        <input class="input-xlarge" type="text" id="dbhost" name="dbhost" placeholder="yourserver.database.windows.com" />
    </div>
</div>
<div class="control-group">
    <label class="control-label">
        <a href="#" data-toggle="modal" data-target="#GetDbName" rel="tooltip" data-original-title="@ODPI.Resources.Views.ConfTpl.OpenTurfResource.ClickToSeeHow">
            @ODPI.Resources.Views.ConfTpl.OpenTurfResource.DatabaseName</a></label>
    <div class="controls">
        <input class="input-xlarge" type="text" id="dbname" name="dbname" placeholder="database-name" />
    </div>
</div>
<div class="control-group">
    <label class="control-label">
        <a href="#" data-toggle="modal" data-target="#GetDbUsername" rel="tooltip" data-original-title="@ODPI.Resources.Views.ConfTpl.OpenTurfResource.ClickToSeeHow">
            @ODPI.Resources.Views.ConfTpl.OpenTurfResource.Username</a></label>
    <div class="controls">
        <input class="input-xlarge" type="text" id="dbusername" name="dbusername" placeholder="username@yourserver" />
    </div>
</div>
<div class="control-group">
    <label class="control-label">
        @ODPI.Resources.Views.ConfTpl.OpenTurfResource.Password</label>
    <div class="controls">
        <input class="input-xlarge" type="password" id="dbpassword" name="dbpassword" placeholder="@ODPI.Resources.Views.ConfTpl.OpenTurfResource.PasswordYouCreated" />
    </div>
</div>
<div class="modal hide fade" id="GetDbHostName">
    @Html.Partial("../Help/GetDbHostName")
</div>
<div class="modal hide fade" id="GetDbName">
    @Html.Partial("../Help/GetDbName")
</div>
<div class="modal hide fade" id="GetDbUsername">
    @Html.Partial("../Help/GetDbUsername")
</div>
<div class="modal hide fade" id="CreateSqlAzureDb">
    @Html.Partial("../Help/CreateSqlAzureDb")
</div>


<div class="page-header">
    <h4>
        @ODPI.Resources.Views.ConfTpl.OpenTurfResource.ApplicationSettings</h4>
    <p>
        @ODPI.Resources.Views.ConfTpl.OpenTurfResource.ApplicationSettingsWillAllow
    </p>
</div>
<div class="control-group">
    <label class="control-label">
        @ODPI.Resources.Views.ConfTpl.OpenTurfResource.ApplicationName</label>
    <div class="controls">
        <input class="input-xlarge" type="text" id="appname" name="appname" placeholder="@ODPI.Resources.Views.ConfTpl.OpenTurfResource.NameOfTheApplication" />
    </div>
</div>

<div class="page-header">
    <h4>
        @ODPI.Resources.Views.ConfTpl.OpenTurfResource.TwitterSettings</h4>
    <p>
        @Html.Raw(ODPI.Resources.Views.ConfTpl.OpenTurfResource.OpenTurfHasTwitterIntegration)</p>
</div>
<div class="control-group">
    <label class="control-label">
        @ODPI.Resources.Views.ConfTpl.OpenTurfResource.ConsumerKey</label>
    <div class="controls">
        <input class="input-xlarge" type="text" id="twitterconsumerkey" name="twitterconsumerkey"
            placeholder="@ODPI.Resources.Views.ConfTpl.OpenTurfResource.ConsumerKeyProvidedByTwitter" />
    </div>
</div>
<div class="control-group">
    <label class="control-label">
        @ODPI.Resources.Views.ConfTpl.OpenTurfResource.ConsumerSecret</label>
    <div class="controls">
        <input class="input-xlarge" type="text" id="twitterconsumersecret" name="twitterconsumersecret"
            placeholder="@ODPI.Resources.Views.ConfTpl.OpenTurfResource.ConsumerSecretProvidedByTwitter" />
    </div>
</div>
<div class="control-group">
    <label class="control-label">
        @ODPI.Resources.Views.ConfTpl.OpenTurfResource.AppUrl
    </label>
    <div class="controls">
        <input class="input-xlarge" type="text" id="twitterappurl" name="twitterappurl" required placeholder="exemple: http://odafrance.cloudapp.net" />
    </div>
</div>

<div class="page-header">
    <h4>@ODPI.Resources.Views.ConfTpl.OpenTurfResource.ADInfo</h4>
</div>

<div class="control-group">
    <label class="control-label">
        @ODPI.Resources.Views.ConfTpl.CitizenPortalOpenDataResource.WAADDomainName</label>
    <div class="controls">
        <input class="input-xlarge" type="text" id="waaddomainname" name="waaddomainname" required placeholder="xxxx.onmicrosoft.com" />
    </div>
</div>

<div class="page-header">
    <h4>@ODPI.Resources.Views.ConfTpl.BingMapRessource.MapSettings</h4>
    <p>
        @ODPI.Resources.Views.ConfTpl.BingMapRessource.MapInfo <a href="https://www.bingmapsportal.com/"> Map Account Center</a>
    </p>
</div>
<div class="control-group">
    <label class="control-label">
        @ODPI.Resources.Views.ConfTpl.BingMapRessource.BingCred
    </label>
    <div class="controls">
        <input class="input-xlarge" type="text" id="bingCredential" name="bingCredential" required placeholder="Credential Key" />
    </div>
</div>