<div class="modal-header">
    <button class="close" data-dismiss="modal">
        ×</button>
    <h3>
        @ODPI.Resources.Views.Help.CreateSqlAzureDbResource.HowToGetCreateSqlAzureDatabase</h3>
</div>
<div class="modal-body">
    <ol>
        <li>
            <p>
                @Html.Raw(@ODPI.Resources.Views.Help.CreateSqlAzureDbResource.GoToWindowsAzure)</p>
        </li>
        <li>
            <p>
                @Html.Raw(@ODPI.Resources.Views.Help.CreateSqlAzureDbResource.ClickOnDatabase)
                <br/>
                <img src="/Content/img/help/image018.png"></p>
        </li>
        <li>
            <p>
                @Html.Raw(@ODPI.Resources.Views.Help.CreateSqlAzureDbResource.ClickOnTheSubscriptionFolder)</p>
        </li>
        <li>
            <p>
                @Html.Raw(@ODPI.Resources.Views.Help.CreateSqlAzureDbResource.ClickTheCreateANewDatabase)<br>
                <img src="/Content/img/help/image019.jpg"></p>
        </li>
        <li>
            <p>
                @Html.Raw(@ODPI.Resources.Views.Help.CreateSqlAzureDbResource.InTheCreateDatabaseDialog)<br>
                <img src="/Content/img/help/image020.jpg"></p>
        </li>
        <li>
            <p>
                @Html.Raw(@ODPI.Resources.Views.Help.CreateSqlAzureDbResource.SelectTheRegionToCreate)<br>
                <img src="/Content/img/help/image021.png"></p>
        </li>
        <li>
            <p>
                @Html.Raw(@ODPI.Resources.Views.Help.CreateSqlAzureDbResource.CreateAnAdministratorLogin)<br>
                <img src="/Content/img/help/image022.png"></p>
        </li>
        <li>
            <p>
                @Html.Raw(@ODPI.Resources.Views.Help.CreateSqlAzureDbResource.CheckAllowOtherWindowsAzure)<br>
                <img src="/Content/img/help/image023.png"></p>
        </li>
        <li>
            <p>
                @Html.Raw(@ODPI.Resources.Views.Help.CreateSqlAzureDbResource.EnterADatabaseName)</p>
        </li>
        <li>
            <p>
                @Html.Raw(@ODPI.Resources.Views.Help.CreateSqlAzureDbResource.ClickFinish)</p>
        </li>
    </ol>
</div>
