<div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>@ODPI.Resources.Views.Help.CreateSqlAzureDbResource.HowToGetCreateSqlAzureDatabase</h3>
</div>
<div class="modal-body">
    <ol>
        <li>
            <p>
                @Html.Raw(ODPI.Resources.Views.Help.CreateSqlAzureDbResource.GoToWindowsAzure)
            </p>
        </li>
        <li>
            <p>
                @Html.Raw(ODPI.Resources.Views.Help.CreateSqlAzureDbResource.ClickOnDatabase)
                <br/>
                <img src="/Content/img/help/@ODPI.Resources.Views.Help.Screenshots.Image17">
            </p>
        </li>
        <li>
            <p>
                @Html.Raw(ODPI.Resources.Views.Help.CreateSqlAzureDbResource.ClickTheCreateANewDatabase)
                <br/>
                <img src="/Content/img/help/@ODPI.Resources.Views.Help.Screenshots.Image18" class="greyBorder">
            </p>
        </li>
        <li>
            <p>
                @Html.Raw(ODPI.Resources.Views.Help.CreateSqlAzureDbResource.InTheCreateDatabaseDialog)
                <br/>
                <img src="/Content/img/help/@ODPI.Resources.Views.Help.Screenshots.Image19" class="greyBorder">
            </p>
        </li>
        <li>
            <p>
                @Html.Raw(ODPI.Resources.Views.Help.CreateSqlAzureDbResource.CreateAnAdministratorLogin)
                <br/>
                <img src="/Content/img/help/@ODPI.Resources.Views.Help.Screenshots.Image20" class="greyBorder">
            </p>
        </li>
        <li>
            <p>
                @Html.Raw(ODPI.Resources.Views.Help.CreateSqlAzureDbResource.ClickFinish)
            </p>
        </li>
    </ol>
</div>
