<div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>@ODPI.Resources.Views.Help.CreateCloudServiceResource.HowToCreateAWindowsAzureCloudService</h3>
</div>
<div class="modal-body">
    <p>
        @Html.Raw(ODPI.Resources.Views.Help.CreateCloudServiceResource.ForOpenDataPlatformInstallerToFunction)
    </p>
    <p>
        @Html.Raw(ODPI.Resources.Views.Help.CreateCloudServiceResource.YouMustCreateOneCloudService)
    </p>
    <p>
        @Html.Raw(ODPI.Resources.Views.Help.CreateCloudServiceResource.TheFollowingStepsAllowYou)
    </p>

    <ol>
        <li>
            <p>@Html.Raw(ODPI.Resources.Views.Help.CreateCloudServiceResource.GoToWindowsAzure)</p>
        </li>
        <li>
            <p>
                @Html.Raw(ODPI.Resources.Views.Help.CreateCloudServiceResource.ClickOnCloudServices)
                <br />
                <img src="/Content/img/help/@ODPI.Resources.Views.Help.Screenshots.Image1">
            </p>
        </li>
        <li>
            <p>
                @Html.Raw(ODPI.Resources.Views.Help.CreateCloudServiceResource.ClickOnNewCloudService)
                <br/>
                <img src="/Content/img/help/@ODPI.Resources.Views.Help.Screenshots.Image2">
            </p>
        </li>
        <li>
            <p>
                @Html.Raw(ODPI.Resources.Views.Help.CreateCloudServiceResource.InTheCreateANewCloudService)
                <br/>
                <img src="/Content/img/help/@ODPI.Resources.Views.Help.Screenshots.Image3">
            </p>
        </li>
        <li>
            <p>
                @Html.Raw(ODPI.Resources.Views.Help.CreateCloudServiceResource.ClickOkAndAfter)
                <br/>
                <img src="/Content/img/help/@ODPI.Resources.Views.Help.Screenshots.Image4">
            </p>
        </li>
    </ol>
</div>
