<div class="modal-header">
    <button class="close" data-dismiss="modal">
        ×</button>
    <h3>
        @ODPI.Resources.Views.Help.GetDbNameResource.HowToGetSqlAzureDatabaseName</h3>
</div>
<div class="modal-body">
    <ol>
        <li>
            <p>
                @Html.Raw(@ODPI.Resources.Views.Help.GetDbNameResource.GoToWindowsAzure)</p>
        </li>
        <li>
            <p>
                @Html.Raw(@ODPI.Resources.Views.Help.GetDbNameResource.ClickOnDatabase)<br>
                <img src="/Content/img/help/image018.png"></p>
        </li>
        <li>
            <p>
                @Html.Raw(@ODPI.Resources.Views.Help.GetDbNameResource.ClickOnTheSubscriptionsFoler)</p>
        </li>
        <li>
            <p>
                @Html.Raw(@ODPI.Resources.Views.Help.GetDbNameResource.ClickOnTheSubscriptionYourDatabase)
            </p>
        </li>
        <li>
            <p>
                @ODPI.Resources.Views.Help.GetDbNameResource.SelectYourServer<p>
        </li>
        <li>
            <p>
                @ODPI.Resources.Views.Help.GetDbNameResource.ExpandTheServerAndSelectYouDatabase<p>
        </li>
        <li>
            <p>
                @Html.Raw(@ODPI.Resources.Views.Help.GetDbNameResource.InThePropertiesWindow)
                <p>
        </li>
        <li>
            <p>
                @Html.Raw(@ODPI.Resources.Views.Help.GetDbNameResource.HighlightThisValue)
                <p>
        </li>
        <li>
            <p>
                @Html.Raw(@ODPI.Resources.Views.Help.GetDbNameResource.PasteThisValueBackIntoTheDatabase)
                <p>
        </li>
    </ol>
</div>
