<div class="modal-header">
    <button class="close" data-dismiss="modal">
        ×</button>
    <h3>
        @ODPI.Resources.Views.Help.GetDbUsernameResource.HowToGetSqlAzureDatabaseUsername</h3>
</div>
<div class="modal-body">
    <ol>
        <li>
            <p>
                @Html.Raw(ODPI.Resources.Views.Help.GetDbUsernameResource.GoToWindowsAzure)</p>
        </li>
        <li>
            <p>
                @Html.Raw(ODPI.Resources.Views.Help.GetDbUsernameResource.ClickOnDatabase)<br>
                <img src="/Content/img/help/image018.png"></p>
        </li>
        <li>
            <p>
                @Html.Raw(ODPI.Resources.Views.Help.GetDbUsernameResource.ClickOnTheSubscriptionsFoler)</p>
        </li>
        <li>
            <p>
                @Html.Raw(ODPI.Resources.Views.Help.GetDbUsernameResource.ClickOnTheSubscriptionYourDatabase)
            </p>
        </li>
        <li>
            <p>
                @ODPI.Resources.Views.Help.GetDbUsernameResource.SelectYourServer<p>
        </li>
        <li>
            <p>
                @ODPI.Resources.Views.Help.GetDbUsernameResource.ExpandTheServerAndSelectYouDatabase<p>
        </li>
        <li>
            <p>
                @Html.Raw(ODPI.Resources.Views.Help.GetDbUsernameResource.InThePropertiesWindow)
                <p>
        </li>
        <li>
            <p>
                @ODPI.Resources.Views.Help.GetDbUsernameResource.HighlightThisValue
                <p>
        </li>
        <li>
            <p>
                @Html.Raw(ODPI.Resources.Views.Help.GetDbUsernameResource.PasteThisValueBackIntoTheUsername)
                <p>
        </li>
    </ol>
</div>
