<div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>@ODPI.Resources.Views.Help.GetSubscriptionIdResource.HowToGetAzureSubscriptionId</h3>
</div>
<div class="modal-body">
    <ol>
        <li>
            <p>
                @Html.Raw(ODPI.Resources.Views.Help.GetSubscriptionIdResource.GoToWindowsAzure)
            </p>
        </li>
        <li>
            <p>
                @Html.Raw(ODPI.Resources.Views.Help.GetSubscriptionIdResource.ClickOnSettings)
                <br/>
                <img src="/Content/img/help/@ODPI.Resources.Views.Help.Screenshots.Image8" />
            </p>
        </li>
        <li>
            <p>
                @Html.Raw(ODPI.Resources.Views.Help.GetSubscriptionIdResource.ClickOnAdministratorsTab)
                <br/>
                <img src="/Content/img/help/@ODPI.Resources.Views.Help.Screenshots.Image11" class="greyBorder" />
            </p>
        </li>
        <li>
            <p>
                @Html.Raw(ODPI.Resources.Views.Help.GetSubscriptionIdResource.HighlightTheSubscriptionIDNumber)
                <br/>
                <img src="/Content/img/help/@ODPI.Resources.Views.Help.Screenshots.Image12" />
            </p>
        </li>
        <li>
            <p>
                @Html.Raw(ODPI.Resources.Views.Help.GetSubscriptionIdResource.PasteThisValueBack)
                <br/>
                <img src="/Content/img/help/@ODPI.Resources.Views.Help.Screenshots.Image13" class="greyBorder" />
            </p>
        </li>
    </ol>
</div>
