<div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>@ODPI.Resources.Views.Help.GetTableStorageKeyResource.HowToGetAzureTableStorageAccessKey</h3>
</div>
<div class="modal-body">
    <ol>
        <li>
            <p>
                @Html.Raw(ODPI.Resources.Views.Help.GetTableStorageKeyResource.GoToWindowsAzure)
            </p>
        </li>
        <li>
            <p>
                 @Html.Raw(ODPI.Resources.Views.Help.GetTableStorageKeyResource.ClickOnStorageAccounts)
                <br/>
                <img src="/Content/img/help/@ODPI.Resources.Views.Help.Screenshots.Image5">
            </p>
        </li>
        <li>
            <p>
                @Html.Raw(ODPI.Resources.Views.Help.GetTableStorageKeyResource.ClickOnTheStorageAccount)
            </p>
        </li>
        <li>
            <p>
                @Html.Raw(ODPI.Resources.Views.Help.GetTableStorageKeyResource.ClickOnManageAccessKeys)
                <br/>
                <img src="/Content/img/help/@ODPI.Resources.Views.Help.Screenshots.Image14">
            </p>
        </li>
        <li>
            <p>
                @Html.Raw(ODPI.Resources.Views.Help.GetTableStorageKeyResource.CopyThisValue)
                <br/>
                <img src="/Content/img/help/@ODPI.Resources.Views.Help.Screenshots.Image16" class="greyBorder">
            </p>
        </li>
    </ol>
</div>
