<div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>
        @ODPI.Resources.Views.Help.GetTableStorageNameResource.HowToGetAzureTableAccountName
    </h3>
</div>
<div class="modal-body">
    <ol>
        <li>
            <p>
                @Html.Raw(ODPI.Resources.Views.Help.GetTableStorageNameResource.GoToWindowsAzure)
            </p>
        </li>
        <li>
            <p>
                @Html.Raw(ODPI.Resources.Views.Help.GetTableStorageNameResource.ClickOnStorageAccounts)
                <br>
                <img src="/Content/img/help/image011.png">
            </p>
        </li>
        <li>
            <p>
                @Html.Raw(ODPI.Resources.Views.Help.GetTableStorageNameResource.ClickOnTheNewlyCreatedStorage)
            </p>
        </li>
        <li>
            <p>
                @Html.Raw(ODPI.Resources.Views.Help.GetTableStorageNameResource.InThePropertiesWindowsFind)
                <br>
                <img src="/Content/img/help/image009.png">
            </p>
        </li>
        <li>
            <p>
                @Html.Raw(ODPI.Resources.Views.Help.GetTableStorageNameResource.PasteThisValueBack)
                <br>
                <img src="/Content/img/help/image013.png">
            </p>
        </li>
    </ol>
</div>
